html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}


.create {
    background-color: white;
    width: 60%;
    border: 1px solid #28BAA2;
    border-radius: 10px;
    margin: auto;
    padding: 25px;
    top: 50%;
}

input {
    margin-top: 10px;
}
