{% extends 'frontend/base.html' %}

{% block content %}


<div class="container vh-100 d-flex align-items-center">

    <div class="create ">
        <h1 class="text-center">Create a Room</h1>


        <form action="" id="create">
            <div class="row">
                <h5 class="col-md-6">Do guests have control?</h5>
                <div class="col-md-3">
                    <input class="form-check-input" type="radio" name="guest_can_pause" data-v="true" checked
                        id="hascontrol">
                    <label class="form-check-label">
                        Has Cotrol
                    </label>
                </div>

                <div class="col-md-3">
                    <input class="form-check-input" type="radio" name="guest_can_pause" data-v="false" id="hascontrol">
                    <label class="form-check-label">
                        dont has Cotrol
                    </label>
                </div>
            </div>




            <br>

            <label for="votes"> <strong>Votes to skip</strong> </label>
            <input type="number" required placeholder="Number of Votes to skip" class="form-control"
                name="votes_to_skip" id="votes" min="1">

            <input type="submit" value="Create a room" id="submit" class="btn btn-success btn-sm mt-5">
            <a href="/home/" class="btn btn-danger btn-sm mt-5"> Go back Home!</a>

        </form>
    </div>

</div>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        let form = document.querySelector("#create")
        var guest_can_pause = null;


        form.addEventListener("submit", (e) => {

            e.preventDefault()

            votes_to_skip = document.querySelector("#votes").value
            // guests control
            radios = document.querySelectorAll("#hascontrol").forEach(r => {
                if (r.checked === true) {
                    if (r.dataset.v == "true") {
                        guest_can_pause = true
                    } else {
                        guest_can_pause = false
                    }
                }
            });

            console.log(guest_can_pause)

            fetch('/api/create/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'votes_to_skip': votes_to_skip,
                    'guest_can_pause': guest_can_pause
                }) //JavaScript object of data to POST
            })
                .then(response => {
                    return response.json() //Convert response to JSON
                })
                .then(data => {
                    // here I recieve the data from the server after creating/updating it

                    // redirect the user to the details page
                    window.location.replace("/room/" + data.code)
                })


        });



        // cookie:
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');


    });
</script>
{% endblock content %}