{% extends 'frontend/base.html' %}

{% block content %}

<h4>Home page of Rooms</h4>
<ul>
    <li><a href="/home/">Home</a></li>
    <li><a href="/create/">Create</a></li>
    <li><a href="/join/">Join</a></li>
</ul>

<script>
    // here I want to connect to the server 
    // to make sure that the user is already joined a room or not

    fetch("/api/user-in-room/")
        .then(response => { return response.json() })
        .then(data => {
            if (data.code) {
                window.location.replace(`/room/${data.code}`)
            }
        })
</script>

{% endblock content %}