{% extends 'frontend/base.html' %}

{% block content %}

<div class="container">
    <p>Back to Home: <a href="/home/">Home</a></p>

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Join Room</h1>
        </div>

        <div class="col-12 mx-auto">
            <form action="" id="join_form">
                <input type="text" class="form-control w-50" name="room_code" id="room_code"
                    placeholder="Enter the room code">
                <input type="submit" class="btn btn-success" value="Join" id="join_submit">
            </form>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        code_field = document.querySelector("#room_code")
        join_form = document.querySelector("#join_form")
        code = ""

        code_field.addEventListener("change", (e) => {
            code = e.target.value
        })

        join_form.addEventListener("submit", (e) => {
            e.preventDefault()

            // send request to the sever
            fetch('/api/join/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    "code": code
                }) //JavaScript object of data to POST
            })
                .then(response => {
                    if (response.ok) {
                        window.location.replace(`/room/${code}`)

                    } else {
                        alert("Room Not Found")
                    }

                }).catch((e) => {
                    alert(e)
                })



            return false

        })

        // cookie:
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');



    })
</script>


{% endblock content %}