{% extends 'frontend/base.html' %}

{% block content %}


<div class="box h-100 w-50 mx-auto">
    <div class="my-auto">
        <h1 class="text-center">Room Details</h1>
        <p class="text-center" id="code">CODE: {{code}}</p>
        <form action="" id="leave" class="mx-auto">
            <input type="submit" value="Leave the Room" class="btn btn-danger">
        </form>
        <div id="settings" class="mx-auto"></div>
    </div>
</div>


<script>

    document.addEventListener("DOMContentLoaded", () => {

        let data = null
        let set = document.querySelector("#settings")

        // fetch the data
        room_details_url = `/api/details/{{code}}/`
        fetch(room_details_url)
            .then((response) => {
                return response.json();
            }).then((data) => {
                data = data

                // check if the user is the owner to display the settings. 
                if (data.is_host) {
                    set.innerHTML = `<a href='/settings/${data.votes_to_skip}/${data.guest_can_pause}/${data.code}' class='btn btn-info'> Settings </a>`
                }
            })


        // leaving the room logic:
        let leaving_form = document.querySelector("#leave")

        leaving_form.addEventListener("submit", (e) => {
            e.preventDefault()

            fetch('/api/leave/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                }
            }).then(res => {
                // redirect to home with all the logic
                window.location.replace("/home/")
            });


        })

        // cookie:
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');


    })
</script>

{% endblock content %}