{% extends "frontend/base.html" %}

{% block content %}

<div class="create mt-5">
    <h1 class="text-center">Settings</h1>


    <form action="" id="update">
        <div class="row">
            <h5 class="col-md-6">Do guests have control?</h5>
            <div class="col-md-3">
                <input class="form-check-input" type="radio" name="guest_can_pause" data-v="true" checked
                    id="hascontrol">
                <label class="form-check-label">
                    Has Cotrol
                </label>
            </div>

            <div class="col-md-3">
                <input class="form-check-input" type="radio" name="guest_can_pause" data-v="false" id="hascontrol">
                <label class="form-check-label">
                    Dont has Cotrol
                </label>
            </div>
        </div>


        <br>

        <label for="votes"> <strong>Votes to skip</strong> </label>
        <input type="number" required placeholder="Number of Votes to skip" class="form-control" name="votes_to_skip"
            id="votes" min="1" value="{{votes_to_skip}}">

        <input type="submit" value="Update a room" id="submit" class="btn btn-success btn-sm mt-5">
        <a href="/home/" class="btn btn-danger btn-sm mt-5"> Go back Home!</a>

    </form>

    <div class="alert alert-success mt-3" id="msg"></div>
</div>

</div>

<script>

    document.addEventListener("DOMContentLoaded", () => {

        let setting_form = document.querySelector("#update")
        document.querySelector("#msg").style.display = "none"


        setting_form.addEventListener("submit", (e) => {

            e.preventDefault()

            // form submiting
            let code = "{{code}}"
            let new_votes_to_skip = document.querySelector("#votes").value
            let new_guest_can_pause = null

            radios = document.querySelectorAll("#hascontrol").forEach(r => {
                if (r.checked === true) {
                    if (r.dataset.v == "true") {
                        new_guest_can_pause = true
                    } else {
                        new_guest_can_pause = false
                    }
                }
            });

            fetch('/api/update/', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'votes_to_skip': new_votes_to_skip,
                    'guest_can_pause': new_guest_can_pause,
                    'code': code
                }) //JavaScript object of data to POST
            })
                .then(response => {
                    if (response.ok) {
                        document.querySelector("#msg").style.display = "block"
                        document.querySelector("#msg").innerHTML = "settings Updated successfully"
                    } else {
                        alert("Failed to update, Try again!")
                    }
                })


        })

        // cookie:
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    })

</script>

{% endblock content %}